import java.io.File;
import java.io.FileNotFoundException;
import java.util.ArrayList;
import java.util.Collections;
import java.util.List;
import java.util.Scanner;

public class Main {

  /**
	 * @param args
	 * @throws FileNotFoundException 
	 */
	public static void main(String[] args) {			
		
		try {
			File file = new File("rearrangeProbInput.txt");                                    // Opens the file to be read
			Scanner read = new Scanner(file);            
			int i = 0;

			while(read.hasNext()) {                                                            // Reads the file as long as there are lines
				String line = read.nextLine();				                                   // The line that is currently being read
				line = line.substring(line.indexOf(": ") + 2, line.length());             // Splits line so only the numbers are in the array
				System.out.println("Output #" + i++ + ": " + RearrangeToBiggest(line)); // Passes parsedNum to be rearranged and prints
			}
			read.close();                                                                      // Closes the file
		}
		catch(FileNotFoundException e) {                                                       // Displays message if file does not exist
			 System.err.println("File not found.");
		}
	}
	
	public static int RearrangeToBiggest(String input) {		 
		
		List<Character> chars = new ArrayList<Character>();
		for (char c : input.toCharArray()) {
			chars.add(c);
		}
		
		Collections.sort(chars, Collections.reverseOrder());
		
	    StringBuilder sb = new StringBuilder(chars.size());	// Initializes the StringBuilder    
		for (char j : chars)                                 // Goes through the newly sorted digit
		    sb.append(Character.toString(j));                 // Builds digit into a String

		return Integer.parseInt(sb.toString());             // Returns the integer value of the String
	}
}
